header {
  width: 100%;
  border: 1px solid red;
  height: 500px;
}

main {
  width: 75%;
  border: 1px solid green;
  float: left;
  height: 500px;
}

section {
  width: 24%;
  float: left;
  border: 1px solid blue;
  height: 500px;
}

footer {
  width: 100%;
  float: left;
  border: 1px solid purple;
  height: 500px;
}
